@model SouDizimista.Services.DTO.DizimistaDTO
@{
    ViewData["Title"] = "Delete";
}

<h5 class="card-title color-source-consult">Detalhes do Dizimista</h5>

<h3 class="color-source-consult">Dizimista Sr(a) @Model.Nome</h3>

<!-- Botão para abrir o modal de exclusão -->
<div class="form-group form-inline btnsubmitBack">
    <div>
        <button class="btn btn-danger" id="deleteButton">Excluir </button>
    </div>

    <div class="btnBack">
        <a class="btn btn-info" asp-action="GetAllDizimista">Voltar</a>
    </div>
</div>


<!-- Modal de exclusão -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span style="color:#ff0000!important;" class="close">&times;</span>
        <p>Deseja realmente excluir o Dizimista Sr(a) @Model.Nome ?</p>

        @using (Html.BeginForm("Delete", "Dizimista", FormMethod.Post))
        {
            <div id="deleteId">

                <div class="row">

                    <div class="col-md-6">
                        <label asp-for="Nome" class="control-label title-lable-dizimista">Nome do Dizimista</label>
                        <input asp-for="Nome" class="form-control" readonly/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ValorDevolucao" class="control-label title-lable-dizimista">Valor do Dizimo</label>
                        <input asp-for="ValorDevolucao" class="form-control" readonly/>
                        <span asp-validation-for="ValorDevolucao" class="text-danger"></span>
                    </div>

                </div>

            </div>
            <input class="btn btn-primary btnDelete" type="submit" value="Confirmar" />
        }
    </div>
</div>

@section scripts {
    <script>
        // Obtendo referências aos elementos HTML
        var modal = document.getElementById("deleteModal");
        var deleteButton = document.getElementById("deleteButton");
        var closeButton = document.getElementsByClassName("close")[0];
        var itemIdInput = document.getElementById("deleteId");

        // Abrir o modal quando o botão de exclusão for clicado
        deleteButton.onclick = function() {
            modal.style.display = "block";
            itemIdInput.value = 123; // Definir o ID do item a ser excluído
        }

        // Fechar o modal quando o botão de fechar for clicado
        closeButton.onclick = function() {
            modal.style.display = "none";
        }

        // Fechar o modal quando o usuário clicar fora da área do modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Centralizar o modal na tela
        function centerModal() {
            var modalContent = document.querySelector('.modal-content');
            modalContent.style.top = (window.innerHeight - modalContent.offsetHeight) / 2 + 'px';
            modalContent.style.left = (window.innerWidth - modalContent.offsetWidth) / 2 + 'px';
        }

        // Chamar a função de centralizar o modal quando a janela for redimensionada
        window.onresize = function() {
            centerModal();
        }

        // Chamar a função de centralizar o modal quando a página for carregada
        window.onload = function() {
            centerModal();
        }
    </script>
}