@model SouDizimista.Services.DTO.DizimistaDTO

@{
    ViewData["Title"] = "EditDizimista";
}

<div class="container">
    <div class="row">
        <form class="needs-validation" asp-action="EditDizimista">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2 class="title-lable-dizimista"> Atualizar Dizimista </h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Nome" class="control-label title-lable-dizimista">Nome do Dizimista</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ValorDevolucao" class="control-label title-lable-dizimista">Valor do Dizimo</label>
                    <input asp-for="ValorDevolucao" class="form-control" />
                    <span asp-validation-for="ValorDevolucao" class="text-danger"></span>
                </div>
            </div>

            <div>

                <div class="form-group row">

                    <div class="col-12">
                        <label class="title-lable-dizimista">Cep</label>
                        <input asp-for=Cep name="Cep" oninput="mascaraCep(this)" class="form-control buscaCep btnaction readOnly" type="text" data-viacep="Cep" data-receitaws="Cep" id="Cep" />
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                    @*<div class="col-3">
                    <button id="btnbuscarCep" type="button" class="btn btn-success btnHide" style="margin-top: 2em; margin-left: -1em;">Buscar</button>
                    </div>*@
                </div>

                <div class="form-group row">

                    <div class="col-5">

                        <label class="title-lable-dizimista">Logradouro</label>
                        <input asp-for="Logradouro" class="form-control readOnly" name="Logradouro" type="text" data-viacep="logradouro" data-receitaws="logradouro" id="logradouro" />

                    </div>


                    <div class="col-5">

                        <label class="title-lable-dizimista">Complemento</label>
                        <input asp-for="Complemento" class="form-control btnaction readOnly" name="Complemento" type="text" data-viacep="complemento" data-receitaws="complemento" id="complemento" />

                    </div>

                    <div class="col-2">

                        <label class="title-lable-dizimista">Numero</label>
                        <input asp-for="Numero" class="form-control btnHide readOnly" type="text" data-viacep="numero" data-receitaws="numero" name="Numero" id="numero" />

                    </div>
                </div>

                <div class="form-group row">


                    <div class="col-5">

                        <label class="title-lable-dizimista">Bairro</label>
                        <input asp-for="Bairro" class="form-control btnaction readOnly" name="Bairro" type="text" data-viacep="bairro" data-receitaws="bairro" id="bairro" />

                    </div>

                    <div class="col-5">

                        <label class="title-lable-dizimista">Municipio</label>
                        <input asp-for="Municipio" class="form-control btnaction readOnly" name="Municipio" type="text" data-viacep="localidade" data-receitaws="municipio" id="municipio" />

                    </div>

                    <div class="col-2">

                        <label class="title-lable-dizimista">Estado</label>
                        <input asp-for="Estado" class="form-control btnaction readOnly" name="Estado" type="text" data-viacep="uf" data-receitaws="uf" id="estado" />

                    </div>

                </div>

                <div class="form-group form-inline btnsubmitBack">
                    <div>
                        <input type="submit" value="Atualizar" class="btn btn-primary" />
                    </div>

                    <div class="btnBack">
                        <a class="btn btn-info" asp-action="GetAllDizimista">Voltar</a>
                    </div>
                </div>

            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }



