@{
    Layout = "_Layout"; // Especifica o layout principal
}

<div class="text-center">
    <h4 class="colordefault"> Bem Vindo Paz e Bem ! - Dominus</h4>
    <p class="colordefault"> Deo Optimo Maximus <a href=""></a>.</p>
</div>