@{
    Layout = "_Layout"; // Especifica o layout principal
}

<div class="text-center">
    <h4 style="color:#087575;"> Bem Vindo a Paróquia - Dominus</h4>
    <p style="color:#087575;"> Deo Optimo Maximus <a href=""></a>.</p>
</div>
