

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sub-menu-layout {
    display: none;
    padding: 10px;
    padding-top: 26px;
}

.sub-menu-layout nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li:hover .sub-menu-layout {
    display: block;
    position: absolute;
    background-color: #0ebbbb;
    margin-left: 30px;
    width: 150px;
}

    nav ul li:hover .sub-menu-layout ul {
        display: block;
    }


nav ul li:hover .sub-menu-layout ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}

