body {
}

.title-lable-dizimista {
    color: #087575;
}

.content-main {
    margin-left: 15rem;
    margin-top: 1.5rem;
}

.btnsubmitBack {
    margin-top: 2rem;
}

.btnBack {
    margin-left: 1rem;
}

.margin-div {
   margin-top:10px;
}