<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sou Dizimista</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/styles/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="header-nav">
            <div class="logo">
                <a class="nav-menu text-dark" asp-area="" asp-controller="Home" asp-action="Index">Sou Dizimista</a>
            </div>

            <div class="menu-items">
                <nav>
                    <ul>
                        <li>
                             <a class="nav-link text-dark nav-menu" asp-area="" asp-controller="Home" asp-action="Index">Paroquias</a>
                        </li>

                        <li>
                            <input class="inline input-search-menu" type="text" id="textBoxPesquisaParoquia" placeholder="Pesquise Sua Paróquia" />
                        </li>

                        <li>
                           <a class="nav-link text-dark nav-menu" asp-area="" asp-controller="Home" asp-action="Privacy">Admin</a>
                        </li>

                         <li>
                           <a class="nav-link text-dark nav-menu" asp-area="" asp-controller="Home" asp-action="Privacy">Contatos</a>
                        </li>

                         <li>
                           <a class="nav-link text-dark nav-menu" asp-area="" asp-controller="Home" asp-action="Privacy">Configurações</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">

            <ul class="sidebar-menu left-menu">
                <li class="header"><i class="fa fa-ellipsis-v"></i> Capelas </li>

            </ul>

        </section>
    </aside>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Gms-Solutions-Technology <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
