<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sou Dizimista</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/styles/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="header-nav">
            <div class="logo">
                <a class="icon-menu-logo" asp-controller="Home" asp-action="Index">Sou Dizimista</a>
            </div>

            <div class="menu-items">
                <nav>
                    <ul>
                        <li>
                            <a id="paroquias-menu" class="nav-link nav-menu hand">Paróquias</a>
                        </li>

                        <li>
                            <a class="search" href="#">
                                <input class="browser-menu" />
                                <span class="icon-menu"><ion-icon id="paroquias-menu" name="search-outline"></ion-icon></span>
                            </a>
                        </li>


                        <li>
                            <a class="nav-link  nav-menu" asp-area="" asp-controller="Dizimista" asp-action="NewDizimista"> Administração </a>
                        </li>

                        <li>
                            <a class="nav-link  nav-menu" asp-area="" asp-controller="Home" asp-action="Privacy">Contatos</a>
                        </li>

                        <li>
                            <a class="nav-link nav-menu" asp-area="" asp-controller="Home" asp-action="Privacy">Configurações</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>

         <aside>
            <section class="sidebar">

                <div class="navigation">
                    <ul>

                        <li class="list active">
                            <a asp-area="" asp-controller="Paroquia" asp-action="GetAllParoquia">
                                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                                <span class="title">Nova Paróquia</span>
                            </a>
                        </li>

                        <li class="list">
                            <a asp-area="" asp-controller="Dizimista" asp-action="NewDizimista">
                                <span class="icon"><ion-icon name="body-outline"></ion-icon></span>
                                <span class="title">Novo Dizimista</span>
                            </a>
                        </li>

                        <li class="list">
                            <a asp-area="" asp-controller="Dizimista" asp-action="GetAllDizimista">
                                <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                                <span class="title">Nossos Dizimistas</span>
                            </a>
                        </li>


                        <li class="list">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                                <span class="title">Configurações</span>
                            </a>
                        </li>

                        <li class="list">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                <span class="icon"><ion-icon name="exit-outline"></ion-icon></span>
                                <span class="title">Sair</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </section>
        </aside>
    </header>
    <div class="content-body">
       

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container-footer">
            &copy; 2022 - Gms-Solutions-Technology <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/manu_lateral.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"> </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
