<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sou Dizimista</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/styles/main.css" />
    <link rel="stylesheet" href="~/styles/main-content.css" />
    <link rel="stylesheet" href="~/styles/NossosDizimista.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header">

            <div class="logo">
                <div class="logo-img"></div>
            </div>

            <div class="titulo-modulo">
                titulo
            </div>

            <div class="modulos-menu">

                <div class="usuario">
                    Usuário
                </div>

                <div class="modulos">
                    
                    <img class="modulos" id="icone-suspenso" src="~/icones/menu.png" />
                    
                    <nav class="menu-nav">
                        <ul>
                            <li>
                                <a data-module="Cadastro" class="obterDados">Cadastro</a>
                            </li>

                             <li>
                                <a data-module="Administrativo">Adminstrativo</a>
                            </li>

                            <li>
                                <a data-module="Financeiro">Financeiro</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>

        </div>
              
        <aside id="navigator" class="navigation">
            <section>
                <h1 class="funcionalidade"> Funcionalidades </h1>
                <ul>

                </ul>
                

            </section>
        </aside>
    </header>
    <div class="content-body">
        <div class="container">
            <main role="main" class="content-main">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="border-top footer-gms text-muted">
        <div class="container-footer">
            &copy; Gms-Solutions-Technology <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/js/adiciona-dizimista.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu_lateral.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"> </script>

    <script>
        $(document).ready(function () {

            $('#icone-suspenso').click(function () {
                document.querySelector('.menu-nav').style.display = 'block';
            });

            // Capturar o clique nos links dos módulos
            $('.obterDados').click(function (e) {
                e.preventDefault(); // Impede o comportamento padrão do link

                // document.querySelector('.navigation').style.visibility = 'visible';

                var moduleName = $(this).data('module'); // Obtém o nome do módulo do atributo "data-module"
                
                // Carrega os itens de menu correspondentes ao módulo selecionado
                loadMenuItems(moduleName);
            });

            // Função para carregar os itens de menu
            function loadMenuItems(moduleName) {
                $.ajax({
                    url: '/Menu/GetMenuItems', // Rota para a ação que obtém os itens de menu
                    type: 'POST',
                    data: { module: moduleName },
                    success: function(response) {
                        // Atualizar o menu lateral com os itens de menu obtidos
                        $('.navigation ul').html(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
